<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/jee
	http://www.springframework.org/schema/jee/spring-jee-3.0.xsd
	http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName">

	<description>Spring公共配置</description>

	<!--开启注解 -->
	<context:annotation-config />
	
	<!-- 开启自动切面代理 -->
	<aop:aspectj-autoproxy />
	
	<context:component-scan base-package="com.pipework.platform">
		<context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller" />
	</context:component-scan>

	<!-- 开启注解事务支持 -->	
	<tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true" />
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		 <property name="dataSource" ref="dataSource"/>
	</bean>

    <bean class="org.pipework.framework.core.SpringContextProperty">
        <property name="ignoreUnresolvablePlaceholders" value="true" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>classpath*:/config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="master_dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="${master.ds.driverClassName}" />
        <property name="url" value="${master.ds.url}" />
        <property name="username" value="${master.ds.username}" />
        <property name="password" value="${master.ds.password}" />
    </bean>

    <bean id="dataSource" class="org.pipework.framework.dao.MultiDataSource">
        <property name="defaultDataSource" ref="master_dataSource" />
    </bean>
	<!--&lt;!&ndash; 定义受环境影响易变的变量 &ndash;&gt;
	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
		<property name="ignoreResourceNotFound" value="true" />
		<property name="locations">
			<list>
				&lt;!&ndash; 标准配置 &ndash;&gt;
				<value>classpath*:/config.properties</value>		
				&lt;!&ndash; 本地开发环境配置 &ndash;&gt;
				<value>file:/d:/conf/*.properties</value>
				&lt;!&ndash; 服务器生产环境配置 &ndash;&gt;
                <value>file:/etc/conf/*.properties</value>
			</list>
		</property>
	</bean>-->
	
	<!-- Freemarker配置，参考： http://www.cnblogs.com/hoojo/archive/2011/04/19/2020551.html-->
	<!--<bean id="freemarkerConfig"
		class="org.springframework.web.servlet.view.freemarker.FreeMarkerConfigurer">
		&lt;!&ndash; 视图资源位置 &ndash;&gt;
		<property name="templateLoaderPath" value="/WEB-INF/ftl/" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="freemarkerSettings">
			<props>
				<prop key="template_update_delay">0</prop>&lt;!&ndash; 模板更新延时 &ndash;&gt;
				<prop key="locale">zh_CN</prop>
				<prop key="default_encoding">UTF-8</prop>
				<prop key="output_encoding">UTF-8</prop>
				<prop key="template_exception_handler">rethrow</prop>
		        <prop key="number_format">#.##</prop>
		        <prop key="date_format">yyyy-MM-dd</prop>
		        <prop key="time_format">HH:mm:ss</prop>
		        <prop key="datetime_format">yyyy-MM-dd HH:mm:ss</prop>
			</props>
		</property>
		&lt;!&ndash; 全局变量部分 &ndash;&gt;
		<property name="freemarkerVariables">
			<map>
				<entry key="BasePath" value="${web.basepath}" />
				<entry key="xml_escape" value-ref="fmXmlEscape" />
			</map>
		</property>
	</bean>
	<bean id="fmXmlEscape" class="freemarker.template.utility.XmlEscape" />
	&lt;!&ndash; 配置freeMarker视图解析器 &ndash;&gt;
	<bean id="ftlviewResolver" class="org.springframework.web.servlet.view.freemarker.FreeMarkerViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.freemarker.FreeMarkerView" />
		&lt;!&ndash; 如果配置了这个节点，则视图必须是ftl，redirect等前缀都失效了 &ndash;&gt;
		&lt;!&ndash; <property name="viewNames" value="*.ftl"/> &ndash;&gt;
		<property name="contentType" value="text/html;charset=UTF-8" />
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value="" />
	</bean>
	-->

    <!-- MyBatis 配置加载与事务管理器   -->
    <bean id="sqlSessionFactoryIweipu" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation" value="classpath:mybatis.cfg.xml" />
        <property name="mapperLocations" value="classpath:mybatis/*.xml" />
    </bean>


    <bean class="org.pipework.framework.core.SpringContextHolder" destroy-method="destroy" />

    <!-- 数据库分页方言-->
    <bean id="PaggingDialectFactory" class="org.pipework.framework.dao.page.DefaultPaggingDialectFactory"/>

    <!-- Escape 方言 -->
    <bean id="EscapeFactory" class="org.pipework.framework.dao.escape.DefaultEscapeFactory"></bean>


</beans>
